#share{
    padding: 0.75rem 0.8rem 0.3rem;
    margin: auto;
    width: 18rem;
    height: auto;
    border-top: 1px solid #d4d4d4;
    background: #fdfdfd;
}
#share > p{
    margin: 0.7rem 0 0;
    min-height: 1.125rem;
    max-height: 2.25rem;
    font-size: 0.65rem;
    line-height: 1.125rem;
    color: #808080;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.share-user{
    display: block;
    height: 1.5rem;
    line-height: 1.5rem;
    overflow: hidden;
}
.share-user > *{
    display: block;
    float: left;
}
.share-user > a{
    font-size: 0.85rem;
    color: #000;
}
.share-user > a img{
    display: block;
    float: left;
    margin-right: 0.8rem ;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}
.share-date{
    float: right;
    font-size: 0.7rem;
    color: #bbb;
}
.share-address{
    margin-left: 0.4rem;
    font-size: 0.7rem;
    color: #2a9577;
}
.share-address .address-icon{
    display: block;
    float: left;
    width: 0.7rem;
    height: 1.5rem;
    background: url("../../img/location.png") no-repeat center;
    background-size: 0.65rem 0.7rem;
}
/*信息*/
#info{
    margin: auto;
    width: 18rem;
    height: auto;
    border-top: 1px solid #dedede;
}
#info > img {
    display: block;
    width: 100%;
    margin: auto;
}
.info-text{
    margin: 0;
    padding: 0 0.8rem;
    /*font-size: 0.75rem;*/
    font-size: 0.7rem;
    line-height: 2.225rem;
    overflow: hidden;
}
.info-text .info-name{
    margin: 0 0.3rem 0 0.4rem;
    color: #2a9577;
}
.info-text .info-name > span{
    margin-right: 0.2rem;
}
.info-text .info-time{
    margin-right: 0.1rem;
    color: #868686;
}
.info-text .info-tool{
    color: #747474;
}
