#banner{
    position: relative;
    margin: auto;
    width: 18rem;
    height: 17.125rem;
    overflow: hidden;
}
#banner > img {
    position: absolute;
    top : 0;
    left: 0;
    z-index: -2;
    display: block;
    width: 100%;
    height: 100%;
}
#banner .bg {
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, .1);
}
#banner > h1{
    margin: auto;
    padding-top: 5.1rem;
    width: 11.425rem;
    text-align: center;
    color: #fff;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    line-height: 2.375rem;
}
#banner .banner-info{
    position: absolute;
    left: 0;
    bottom: 1.16rem;
    z-index: 1;
    width: 100%;
    height: auto;
}
.banner-info ul{
    margin: auto;
    width: 87.333%;
    height: 2.225rem;
}
.banner-info ul li{
    float: left;
    width: 33.333%;
    height: 100%;
    color: #fff;
    line-height: 1.075rem;
    font-size: 0.735rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
#banner ul li img{
    display: block;
    margin: auto;
    margin-bottom: 0.3rem;
    width: 0.85rem;
    height: 0.85rem;
}

.note{
    padding: 0.8rem;
    margin: auto;
    width: 18rem;
    height: auto;
    text-align: center;
    line-height: 1rem;
    background: #fff;
    -webkit-box-shadow:  0 3px 3px #b4b4b4;
    -moz-box-shadow: 0 3px 3px #b4b4b4;
    box-shadow: 0 3px 3px #b4b4b4;
}
.note h2{
    margin:0 0 0.475rem;
    font-size: 0.7rem;
    color: #000;
}
.note p{
    margin: 0;
    min-height: 1rem;
    max-height: 2rem;
    font-size: 0.6rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.note.special{
    border-bottom: 1px solid rgb(227, 227, 227);
    -webkit-box-shadow:  0;
    -moz-box-shadow: 0;
    box-shadow: 0;
}
.note.special > p {
    text-align: left;
}
#back{
    position: relative;
    margin-top: 0.5rem;
    padding: 2.175rem 2.5rem 0;
    margin: auto;
    width: 18rem;
    height: 6.575rem;
    text-align: center;
    color: #fff;
    overflow: hidden;
}
#back .back-img{
    position: absolute;
    top : 0;
    left: 0;
    z-index: -2;
    display: block;
    width: 100%;
    height: 100%;
}
#back .back-bg{
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, .1);
}
#back h3{
    margin: auto;
    width: auto;
    height: 0.95rem;
    line-height: 0.95rem;
    font-size: 0.7rem;
    white-space: nowrap;
}
#back h3 img{
    /*margin-right: 0.525rem;*/
    margin-right: 0.4rem;
    width: 0.95rem;
    height: 0.95rem;
}
#back p {
    margin: 0.95rem auto 0;
    max-height: 3rem;
    font-size: 0.6rem;
    line-height: 1rem;
}

#video{
    margin-top: 0.5rem;
    margin: auto;
    width: 18rem;
    height : 8.75rem;
    background: #333;
}
#video > video{
    width: 100%;
    height: 100%;
}
.list{
    margin: auto;
    width: 18rem;
    height: auto;
}
.list > p{
    margin: 0;
    padding-left: 0.8rem;
    font-size: 0.8rem;
    line-height: 1.8rem;
    color: #707070;
    background: #eee;
}
.list ul{
    -webkit-box-shadow:  0 3px 3px #b4b4b4;
    -moz-box-shadow: 0 3px 3px #b4b4b4;
    box-shadow: 0 3px 3px #b4b4b4;
}
.list ul li {
    height: 3.675rem;
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
}
.list ul li a{
    display: block;
    float: left;
    width: 3.675rem;
    height: 3.675rem;
    background: #ababab;
    border-bottom: 1px solid #969696;
}
.list ul li div {
    float: left;
    padding: 0.65rem 0 0.65rem 0.8rem;
}
.list ul li div b {
    display: block;
    line-height: 1.125rem;
    font-size: 0.85rem;
    color: #000;
}
.list ul li div span {
    line-height: 1.125rem;
    font-size: 0.75rem;
    color: #707070;
}
#foot{
    display: block;
    font-size: 0.9rem;
    text-align: center;
    color: #fff;
    line-height: 2.4rem;
    background: #1d252b;
}
